
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* why won't this stupid thing work?! */
   color: #39a6b2;
   font-family: Helvetica, Arial, sans-serif;
    

}

/* apply styles to <header> */
header {
    padding: 20 px 35 px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36 px;
    color: #fce138;
    margin: 0;
    display: inline;

}

header a {
    text-decoration: none;
    color: #fce138;
    
}

header nav {
    float: right;
    margin: 7px 0;

}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30 px;
    font-weight: lighter;
    font-size: 22 px;
}

header h1 {
    font-weight: bold;
    font-size: 36 px;
    color: #fce138;
    margin: 0;
    display: inline; 
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40 px 35 px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30 px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;

}